.header {
  color: #00e0cc;
  background-color: #251e3f;
  font-weight: bold;
  text-align: center;
  height: 75px;
}
.header svg {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
}