.station:hover {
  background-color: rgba(37, 30, 63, .1);
  cursor: pointer;
}
.station-name {
  text-decoration: underline;
}
.station:first-child {
  margin-top: 75px !important;
}
.station:last-child {
  margin-bottom: 150px !important;
}